*{
    font-family: calibri, monospace;
    text-decoration-color: aliceblue;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #546E7A;
}

#root {
    align-items: center;
    justify-content: center;
    width: 150vh;
    box-shadow: 8px 8px 35px 0px #7e9097;
    border-radius: 10px 100px / 120px;
    background-color: #29434e;
  }

  #inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #logo{
    padding: 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0;
    font-size: 30px;
  }

  #inicio{
    justify-content: center;
    align-items: center;
    align-content: center;
  }


  #input-original {
    height:  200px;
    width: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    resize: none;
    text-transform: uppercase;
    margin: 0;
    background-color: #819CA9;
    border-color:#263238;
    border-width: 2px;
    color: white;
  }


  #barra{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
  }

  

  #botones{
      display: flex;
      padding: 20px 20px 20px 20px;
      justify-content: center;
      align-items: center;
  }


  .button{
    align-items: center;
    background-color: #000a12;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-left: 20px;
  }

  .button:hover,
  .button:focus { 
    background-color: #012f55;
    color: #ffffff;
  }

  .button:active {
    background: #000a12;
    color: rgb(255, 255, 255, .7);
  }

  #instrucciones{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  

  .resultado{
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  #texto{
    height:  200px;
    width: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: 30px;
    resize: none;
    margin-bottom: 50px;
    background-color: #819CA9;
    border-color:#263238;
    border-width: 2px;
    color: white;
  }

  textarea {
    margin: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
}


#cuadro{
  display: flex;
  justify-content: center;
}


.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}