*{
    font-family: calibri, monospace;
    text-decoration-color: aliceblue;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#root {
    align-items: center;
    justify-content: center;
    /*padding: 60px 500px;*/
    width: 150vh;
    box-shadow: 8px 8px 35px 0px rgba(248, 248, 248, 0.75);
    border-radius: 10px 100px / 120px;
    background-color: #ffffff;
  }

  #inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #logo{
    padding: 0;
    margin-bottom: 5px;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;

  }

  #titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0;
    font-size: 50px;
    text-decoration: underline;
  }

  #inicio{
    justify-content: center;
    align-items: center;
    align-content: center;
  }


  #input-original {
    height:  200px;
    width: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    resize: none;
    text-transform: uppercase;
    margin: 0;
  }

  form#cifrador{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #barra{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
  }

  

  #botones{
      display: flex;
      padding: 20px 20px 20px 20px;
      justify-content: center;
      align-items: center;
  }

  #button {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    margin: 50px 10px;
    background-color: #edebff;
    border-radius: 10px;
    color: black;
    padding: 10px 30px;
  }

  #button:hover{
    background-color: #a299f1;
    color: rgb(39, 39, 39);
  }

  #buton {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 10px;
    background-color: #edebff;
    border-radius: 10px;
    color: black;
    padding: 10px 32px;
  }

  #buton:hover{
    background-color: #a299f1;
    color: rgb(39, 39, 39);
  }

  .button{
    background-color: #14173b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  #instrucciones{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30px;
    margin-left: 10px;
  }
  

  .resultado{
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  #texto{
    height:  200px;
    width: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: 30px;
    resize: none;
    margin-bottom: 50px;
  }

  textarea {
    margin: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
}


#cuadro{
  display: flex;
  justify-content: center;
}


.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
 
  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}